<div class="row" id="homepage">

   <div class="span12" id="maps-home">

            <div class="row span6 offset3 overlay">

                  <center>
                        <div id="login">
                              <label>Username</label>
                              <input type="text" name="name" id="name">   <br>

                              <label>Password</label>
                              <input type="password" name="password" id="password">   <br>

                              <a href="#" class="btn btn-primary">Login</a>
                         </div>
                  </center>

                <div class="span2">&nbsp;</div>

            </div>
   </div>

<<<<<<< HEAD
<div class="container" id="map">
    <div class="row span12">
    	tutta la mappas
    </div>

    <div class="row">
       <div class="span6 offset3 overlay">
       <div class="row">

         <div class="row">
           RESILIENT
         </div>

         <div class="span4 offset1" id="login">
           <div class="row">
             <form>
               <fieldset>
                 <input type="text" placeholder="email ">
                 <input type="text" placeholder="password "><br />
                 <div class="btn btn-primary" type="submit"> ACCEDI </div>
               </fieldset>
             </form>
           </div>
           <div class="row">
               <p> oppure </p>
               <div class="btn" type="button">ISCRIVITI</div><br /><br />
           </div>
         </div>


         <div class="span4 offset1" id="signup">
           <div class="row">
             <form>
               <fieldset>
                 <input type="text" placeholder="username ">
                 <input type="text" placeholder="email ">
                 <input type="text" placeholder="password "><br />
                 <div class="btn btn-primary" type="submit"> ISCRIVITI </div>
               </fieldset>
             </form>
           </div>
         </div>

         <div class="span1"> &nbsp; </div>
       </div>
       </div>
    </div>
=======
>>>>>>> d293e987c16974ed0d59c317e0fb6ced55664bff
</div>

