<div class="row" id="homepage">

   <div class="span12" id="maps-home">

            <div class="row span6 offset3 overlay">

                  <center>
                        <div id="login">
			  <%= form_for :session, url: { controller: :sessions, action: :create } do |f| %>
			  <%= f.text_field :email, placeholder: "email" %><br />
			  <%= f.password_field :password, placeholder: "password"  %><br />
			  <%= f.submit :Login, :class => "btn btn-primary" %>
			  <% end %>
                          
                         </div>
                  </center>

                <div class="span2">&nbsp;</div>

            </div>
   </div>

</div>

