<div class="row" id="homepage">

   <div class="span12" id="maps-home">

            <div class="row span6 offset3 overlay">

                  <center>
                        <div id="login">
                              <label>Username</label>
                              <input type="text" name="name" id="name">   <br>

                              <label>Password</label>
                              <input type="password" name="password" id="password">   <br>

                              <a href="#" class="btn btn-primary">Login</a>
                         </div>
                  </center>

                <div class="span2">&nbsp;</div>

            </div>
   </div>

</div>

