# Build and Release Folders
bin/
bin-debug/
bin-release/
db/*.sqlite3

# Other files and folders
.settings/
.idea/
tmp/
log/
*~
*#*#
.DS_Store
config/initializers/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
