<%= render 'layouts/menu' %>


<div class="row blocco" id="profile">

  <div class="span4" id="bar-form">
        <div class="row span4">
             <b>Cespuglio in fiamme</b>

             <span>
                    E' tutto in fiammee
             </span>
        </div>
  </div>

  <div class="span8" id="bar-mappa">
  </div>

</div>