body
{
  background-image: url('maps.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.blocco
{
   margin-top: 40px;
}

#homepage
{
    #login
    {
        padding-top: 20px;
    }

    .overlay
    {
        background-color: #ededed;
        border: #dedede 1px solid;
        background-color: rgba(255, 255, 255, 0.7);
    }
}