body
{

}

.blocco
{
   margin-top: 40px;
}

#homepage
{   z-index: -1;
    img { max-width: none; }


    position: fixed;
    height: 100%;
    top: 0;

    #login
    {
        padding-top: 20px;
    }

    .overlay
    {
        background-color: #ededed;
        border: #dedede 1px solid;
        background-color: rgba(255, 255, 255, 0.7);
    }

}
