// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile
{

  #user-map{
    img {
      max-width: none;
    }

    position: fixed;
    margin-top: 50px;
    width: 100%;
    height: 110%;
    margin-top: -40px;
    padding: 0px;
    top: 0;
    z-index: -1;
  }

  #add-issue
  {
    visibility: hidden;

    h3
    {
      color: red;
    }

  }

  #my-issues {
    position: absolute;
    visibility: visible;

  }

}

